*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
main {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    Open Sans, "Mulish";
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .content {
    max-width: 1024px;
    margin: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    max-width: 480px;
    margin: 0 15px;
  }
}
